{% extends 'base.html' %}


{% block content %}
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="../static/images/1.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="../static/images/2.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="../static/images/3.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="../static/images/4.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>

    <div class="footer">
        <div class="copyright">
            <i class="fa fa-copyright" aria-hidden="true"></i>
            Copyright 2018
        </div>
        <div class="made_by">
            Developed By: FreeFlow.ai
        </div>
        <div class="footer_social">
            <a href="#" class="btn-floating btn-sm btn-fb mx-1">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <!-- <a href="#" class="btn-floating btn-sm btn-gplus mx-1">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a> -->
            <!-- <a href="#" class="btn-floating btn-sm btn-li mx-1">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a> -->
            <a href="#" class="btn-floating btn-sm btn-in mx-1">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn-floating btn-sm btn-tw mx-1">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div>
    </div>

{% endblock %}