{% extends 'base.html' %} {% load mathfilters %} {% block content %}
<div class="browsing-category">
    Browsing Category
    <span>~ {{category}}</span>
</div>
<div class="row">
    {% for post in posts %}
    <div class="col s12 m1"></div>
    {% if post.pk|mod:2 is 1 %}
    <div class="col s12 m5">

        <div class="card">
            <div class="card-image">
                <img src="/media/{{post.image}}">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p class="category">~ {{category}} ~</p>
                <p class="title">{{post.title}}</p>
                <p class="timestamp">{{post.created_on}}</p>
                <p> {{post.description}} </p>
            </div>
            <center>
                <div class="svg-wrapper">
                    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect id="shape" height="40" width="150" />
                        <div id="text">
                            <a href="/post/{{post.pk}}">
                                <span class="spot"></span>VIEW POST</a>
                        </div>
                    </svg>
                </div>
            </center>
            <div class="card-action">
                <div class="like" style="cursor:pointer; color:black;">
                    {% if post.pk in likes %}
                    <i class="fa fa-heart" aria-hidden="true" id="{{post.pk}}" data-id="{{post.id}}" style="font-size: 20px; color: rgb(238, 110, 115);">
                        <span class="likeCounter" data-id="{{post.id}}" style="font-size:15px; color:#646464;">{{post.likes}}</span>
                    </i>
                    {% else %}
                    <i class="fa fa-heart" aria-hidden="true" id="{{post.pk}}" data-id="{{post.id}}" style="font-size: 20px; color: #646464;">
                        <span class="likeCounter" data-id="{{post.id}}" style="font-size:15px; color:#646464;">{{post.likes}}</span>
                    </i>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endif %} {% if post.pk|mod:2 is 0 %}
    <div class="col s12 m5">
        <div class="card">
            <div class="card-image">
                <img src="/media/{{post.image}}">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p class="category">~ {{category}} ~</p>
                <p class="title">{{post.title}}</p>
                <p class="timestamp">{{post.created_on}}</p>
                <p>{{post.description}}</p>
            </div>
            <center>
                <div class="svg-wrapper">
                    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect id="shape" height="40" width="150" />
                        <div id="text">
                            <a href="/post/{{post.pk}}">
                                <span class="spot"></span>VIEW POST</a>
                        </div>
                    </svg>
                </div>
            </center>
            <div class="card-action">
                <div class="like" style="cursor:pointer; color:black;">
                    {% if post.pk in likes %}
                    <i class="fa fa-heart" aria-hidden="true" id="{{post.pk}}" data-id="{{post.id}}" style="font-size: 20px; color: rgb(238, 110, 115);">
                        <span class="likeCounter" data-id="{{post.id}}" style="font-size:15px; color:#646464;">{{post.likes}}</span>
                    </i>
                    {% else %}
                    <i class="fa fa-heart" aria-hidden="true" id="{{post.pk}}" data-id="{{post.id}}" style="font-size: 20px; color: #646464;">
                        <span class="likeCounter" data-id="{{post.id}}" style="font-size:15px; color:#646464;">{{post.likes}}</span>
                    </i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col s12 m1"></div>
    {% endfor %}
</div>

<script>
    $(".active").removeClass('active');
    $("a[href='/{{href}}/']").addClass('active');
</script> {% endblock %}